.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  //when we need to remove overflow
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    //what this does is like background size cover
    object-fit: cover;
  }
}
